<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>PicketHelper</title>
    </head>
    <body>
        <div style="margin:20" class="jumbotron">
            <h2 style="color:DodgerBlue">PicketHelper</h2>
            <p><i>Для начала работы с ботом напите <b>"PicketHelper"</b> в поиске Telegram</i></p>
        </div>

        <div style="margin:20" class="panel panel-primary">
            <div><h3 style="margin:20" >Команды для общения с ботом</h3></div>
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">/start</h4>
                    <p class="list-group-item-text">Начало общения с ботом. Подписка на рассылку</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">/aboutme</h4>
                    <p class="list-group-item-text">Проверить правильность введения информации о себе</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">/bye</h4>
                    <p class="list-group-item-text">Конец общения с ботом. Отписка от рассылки</p>
                </a>
            </div>
        </div>
        <!--{% for post in posts %}
            <div>
                <p>metro: {{ post.name }}</p>
                <h1><a href="">{{ post.name }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %} -->
    </body>
</html>